@import "../../styles/variables";


.btn {
    background-color: $white;
    border: 0.1em solid rgba($white, 0.6);
    border-radius: 50rem;
    padding: 0.5rem 1.2rem;

    &:hover {
        background-color: $secondary;
        border: 0.1em solid rgba($white, 1);
        color: $white;
    }
}